<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip.install"/>
  <package id="adobereader"/>
  <package id="barrier"/>
  <package id="chocolatey"/>
  <package id="chocolateygui"/>
  <package id="googlechrome"/>
  <package id="git.install"/>
  <package id="deskpins"/>
  <package id="dotnet"/>
  <package id="epicgameslauncher"/>
  <package id="line"/>
  <package id="notepadplusplus.install"/>
  <package id="obs-studio.install"/>
  <package id="vscode"/>
  <package id="vscode-code-runner"/>
  <package id="microsoft-windows-terminal"/>
  <package id="openjdk"/>
  <package id="miniconda3"/>
  <package id="nodejs.install"/>
  <package id="microsoft-edge"/>
  <package id="jetbrainstoolbox"/>
  <package id="powertoys"/>
  <package id="vcredist140"/>
  <package id="vcxsrv"/>
  <package id="vlc"/>
  <package id="vmware-horizon-client"/>
  <package id="voicemeeter-banana.install"/>
  <package id="weasel"/>
</packages>
<!-- choco feature enable -n=allowGlobalConfirmation -->